<%- include('nav bar/navbar.ejs') %>
    <title>ITEM Database</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/receipt.css' />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    
    <head> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    
    <main class="table">
        <div class="form-conntainer" style=" height: 650px;   overflow-y: auto;">


<style>
 .client-info-title {
    color: #000000; /* Set your preferred text color */
    font-size: 20px; /* Set your preferred font size */
    margin-bottom: 10px; /* Adjust margin as needed */
    margin: 0 auto; /* Center the element horizontally by setting left and right margins to auto */
    text-align: center;
}
.fa-cash-register {
    color: #378937;
    font-size: 28px;
    margin: 10px;
}
.fa-sack-dollar {
    color: #378937;
    font-size: 28px;
    margin: 10px;
}
.flee
{
display:flex;
}
#datetimee {
        /* Add your desired styles here */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        margin: 5px;
    }
     #amounttr , #comment{
        /* Add your desired styles here */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 14px;
        margin: 5px;
        width:300px;
    }

    #floatingSelect {
        /* Add your desired styles here */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        margin: 5px;
        margin-left: 15px;
    }
    h1 {
        /* Adjust the font size */
        font-size: 16px;
    }
</style>

            <section class="table__header">
              <a href="/return/<%= receiptEdit._id %>"><h1>Receipt No: <%= receiptEdit.receiptChallannumber %></h1></a>
      
            </section>
            <section class="table__body">
                <div class="flee">
                  <div class="container2">
                    
                    <h1 class="client-info-title">Money Information</h1>
                    <div class="card">
                      <div class="card-head">
                        <div class="product-detail">


                          <% let totalAmount = 0; %>

                          <% receiptEdit.moneyreceipt.forEach(item => { %>
                              <% if (item.inandout === 1) { %>
                                  <% totalAmount += item.amount; %>
                              <% } else if (item.inandout === 0) { %>
                                  <% totalAmount -= item.amount; %>
                              <% } %>
                          <% }); %>
                          
                          
                          
                          <h1 style="color: #000000; font-family: 'Helvetica Neue', sans-serif; text-align: center; margin-top: 20px; padding: 10px; background-color: #ecf0f1; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">Total Amount: <%= totalAmount %></h1>

                           
                          </div>
                          <section class="table__body">
                         <table>
                          <thead>
                            <tr>
                                <th > #  </th>
                                <th > IN</th>
                                <th >OUT </th>
                                <th > Detail </th>
                                <th > Date </th>
                                <th > Action </th>
                            </tr>
                        </thead>
                        <% if(receiptEdit.moneyreceipt)   { %>
                        <tbody>
                          <% let serialNumber = 1; %>
                          <% receiptEdit.moneyreceipt.forEach(item => { %>
                          <tr>
                            <td><%= serialNumber++ %></td>
                            <td>
                              <%   if(item.inandout==1) { %>
                              <%= item.amount %>
                              <% } %>
                              
                            </td>
                            <td>
                              <%   if(item.inandout==0) { %>
                                <%= item.amount %>
                                <% } %>
                            </td>
                            <td>
                              <%= item.comment %>
                            </td>
                            <td>
                              <script>
                                var rawDate = new Date("<%= item.Dateandtimeinandout %>");
                                var day = ('0' + rawDate.getDate()).slice(-2);

                                var month = ('0' + (rawDate.getMonth() + 1)).slice(-2);

                                var year = rawDate.getFullYear();
                            
                                // Adjust the day in case it becomes zero or negative
                                if (day <= 0) {
                                    // Get the last day of the previous month
                                    var lastDayOfPreviousMonth = new Date(year, rawDate.getMonth(), 0);
                                    day = lastDayOfPreviousMonth.getDate();
                                    // Decrease the month by 1
                                    month = ('0' + rawDate.getMonth()).slice(-2);
                                }
                            
                                var formattedDate = day + '/' + month + '/' + year;
                            
                          
                                var hours = ('0' + rawDate.getUTCHours()).slice(-2);
        var minutes = ('0' + rawDate.getUTCMinutes()).slice(-2);

        var formattedTime = hours + ':' + minutes;
                            
                                document.write(formattedDate + " " + formattedTime);
                            </script>
                            
                            </td>
                            <td>
                              <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                              <a href="#" onclick="showConfirmation('<%= item._id %>')"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                            <% }); %>
                          </tr>
                          <% } %>
                          <script>
                            function showConfirmation(productId) {
                              // Display a confirmation dialog
                              var isConfirmed = confirm("Are you sure you want to delete this item?");
                          
                              // If the user confirms, redirect to the delete route
                              if (isConfirmed) {
                                window.location.href = "/deletemoney/" + productId;
                              }
                            }
                          </script>
                          <tr>
                            <td>
Total
                            </td>
                            <td>
                              <%  var totallAmount = 0; %>

                              <% receiptEdit.moneyreceipt.forEach(item => { %>
                                  <% if (item.inandout === 1) { %>
                                      <% totallAmount += item.amount; %>
                                  <% } else if (item.inandout === 0) { %>
                                      <% totallAmount = totallAmount; %>
                                  <% } %>
                              <% }); %>
                              <%= totallAmount %>
                            </td>
                            <td>
                              <%   totallAmount = 0; %>
                              <% receiptEdit.moneyreceipt.forEach(item => { %>
                                <% if (item.inandout === 1) { %>
                                    <% totallAmount = totallAmount; %>
                                <% } else if (item.inandout === 0) { %>
                                    <% totallAmount += item.amount; %>
                                <% } %>
                            <% }); %>
                            <%= totallAmount %>
                            </td>
                            <td></td><td></td>
                          </tr>
                        </tbody>
                         </table>

                          </section>
                        </div>
                        
                      </div>
                    </div>
                  <div class="container">
                    <h1 class="client-info-title">Add Transaction</h1>
                    <div class="card">
                      <div class="card-head">
                    
                        <div class="product-detail">
                            
                          <form action="/moneytransaction/<%= receiptEdit._id %>" method="POST">
                          <div class="flee">
                            <div>
                                 <h1><label for="datetimee">Date and Time:</label></h1>
                                 <input type="datetime-local" id="datetimee" name="datetimee[]">
                          </div>
                          <div>
                              <h1><label >Works with selects</label></h1>
                                  <select name="itemCategory" id="floatingSelect" >
                                      <option  value="1" selected>Credit</option>
                                      <option value="0">Debit</option>                                     
                                  </select>
                         </div>
                              </div>

                              <h1><label for="amounttr">Amount:</label></h1>
                              <input type="number" id="amounttr" required name="amounttr">
                              <h1><label for="comment">comment:</label></h1>
                              <input type="text" id="comment" name="comment">
                              
                              <input type="submit" value="Submit" class="submit-button">

                            </div>
                         
                          

                          </div>
                          </div>

                          </form>
                          
                          </div>
                          
                         
                      
                      
                      </div>
                      <hr style="border: 1px solid #c9c8c8; margin: 30px 0;">

                    </div>
                    
                  </div>
               
                 
           </section>
  </div>
</main>
<script>
function getCurrentDateTime() {
          const now = new Date();
          const year = now.getFullYear();
          const month = (now.getMonth() + 1).toString().padStart(2, '0');
          const day = now.getDate().toString().padStart(2, '0');
          const hours = now.getHours().toString().padStart(2, '0');
          const minutes = now.getMinutes().toString().padStart(2, '0');
          const dateTimeString = `${year}-${month}-${day}T${hours}:${minutes}`;
          return dateTimeString;
        }
    
      
      
      
      
      
      
      
      
        document.getElementById('datetimee').value = getCurrentDateTime();
</script>
<style>
  .submit-button {
    background-color: #3498db; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth color transition on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   width: 240px;
   margin: 35px;
  }

  .submit-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
</style>
<style>
 
 .money-receipt-container {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;   
}

.advance-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #3f72e0;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.product-detail h2 {
  flex: 1;
  margin: 5px;
  padding: 6px;
  border: 1px solid #bbbaba;
  border-radius: 5px;
}



.container2 {
    width: 740px;
    height: 500px;
    margin: 30px ; /* Set left and right margins to auto */
}
.container {
    width: 400px;
    height: 500px;
    margin: 30px ; /* Set left and right margins to auto */
}

.card {
  border-radius: 25px;
  box-shadow: -11px 11px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid #000000; 
}


.card-head {
  position: relative;
  height: 510px;
   
 border: #000000;
  border-radius: 25px ;
}


.product-detail h2 {
  font-size: 14px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.product-detail {
  padding: 10px 20px;
  font-size: 6px;
  color: #000000;
}




















</style>












<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
clude('nav bar/navbardown.ejs') %>